@using BlazorApp4.NewFolder.Implementation;


<div class='d-flex flex-wrap justify-content-evenly'>
    @foreach (var article in returnsArticlesList())
    {
        <div class='d-flex flex-column border-0 p-3 m-2' style='width: 220px;'>
            <div class='d-flex justify-content-center border-0 pb-0' style='font-size: 16px; color: black;'>
                <strong>@article.Title</strong>
            </div>
            <div class='d-flex justify-content-center border-0 pb-0 pt-' style='font-size: 12px; color: black; font-style: italic;'>
                <q>@article.Quote</q>
            </div>
            <img src='@article.ImageSource' style='width: 100%; height: auto;' alt=''>
            <div class='overflow-auto' style='color: black; font-size: 12px;'>
                @article.Description
            </div>
        </div>
    }
</div>


@code {

    [Parameter]
    public List<Article> articlesList { get; set; }

    MarkupString createMarkupString(string html)
    {
        MarkupString markupString = new MarkupString(html);
        return markupString;
    }

    string returnsHtmlArticle(List<Article> articlesList)
    {
        string html = "<div class='d-flex flex-wrap justify-content-evenly'>";

        //Inicio
        html += $@"";
        foreach (var article in articlesList)
        {
            html += $@"<div class='d-flex flex-column border-0 p-3 m-2' style='width: 220px;'>
    <div class='d-flex justify-content-center border-0 pb-0' style='font-size: 16px; color: black;'>
        <strong>{article.Title}</strong>
    </div>
    <div class='d-flex justify-content-center border-0 pb-0 pt-' style='font-size: 12px; color: black; font-style: italic;'>
        <q>{article.Quote}</q>
    </div>
    <img src='{article.ImageSource}' style='width: 100%; height: auto;' alt=''>
    <div class='overflow-auto' style='color: black; font-size: 12px;'>
    {article.Description}
    </div>
    </div>";
        }
        html += $@"</div>";

        //Final

        return html;
    }

    List<Article> returnsArticlesList()
    {
        return  new List<Article>()
           {
           new Article()
           {
               Title ="Titulo 1",
               Description = "Esta es un descripcion jejejejej",
               ImageSource = "/images/imagen1.jpg",
               Quote = "This a quote"
           },
           new Article()
           {
               Title ="Titulo 2",
               Description = "Esta es un descripcion jejejejej",
               ImageSource = "/images/imagen2.jpg",
               Quote = "This a quote"
           },
           new Article()
           {
               Title ="Titulo 3",
               Description = "Esta es un descripcion jejejejej",
               ImageSource = "/images/imagen3.jpg",
               Quote = "This a quote"
           }

            };
    }

}
