<h3>ContactMail</h3>
<div class="bg-black">
    <div class="row d-flex justify-content-evenly p-5">
        <div class="col-md-6 p-3 ">
            <div class="text-white p-3 m-2">
                <h1>
                    CONTACTAME
                </h1>
            </div>

            <div class="bg-dark p-3">
                <div class="text-white  p-3 m-2">
                    <h4>
                        INPUT
                    </h4>
                </div>
                <div class="text-white p-3 m-2">
                    <h4>
                        INPUT
                    </h4>
                </div>
                <div class="text-white p-3 m-2">
                    <h4>
                        INPUT
                    </h4>
                </div>
            </div>
        </div>

        <div class="col-md-6 p-3">
            <img src="/images/ilustraciónflores.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>
@code {

}
