@inherits LayoutComponentBase

<PageTitle>BlazorApp4</PageTitle>

<div class="page">
   
    @{
        var objectView = "";
    }
    <main>
        <div>
            <NavMenu />
        </div>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
        <div>
            <Carousel />
        </div>
        <div>
            <Articles />
        </div>
       
        
        <div>
            <EndPage />
        </div>
        
    </main>
</div>
