@using System.Text.Json;
@using System.IO;
@using BlazorApp4.NewFolder.Implementation;
@using BlazorApp4.NewFolder.JsonObject;
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Components
@inherits LayoutComponentBase

<PageTitle>BlazorApp4</PageTitle>


<div class="page">
   
    @{
       string listaLogosExample = File.ReadAllText(@"./wwwroot/ExampleLogoAndUrlList.json"); ;
        string jsonString = File.ReadAllText(@"./wwwroot/pview.json");

        var settings = new JsonSerializerSettings();
        /* settings.Converters.Add(new JsonTypeConverter());*/
       
        settings.NullValueHandling = NullValueHandling.Ignore;

        var JsonViewPageObject = JsonConvert.DeserializeObject<JsonViewPage>(jsonString, settings);
        var JsonlistaLogosExampleObject = JsonConvert.DeserializeObject<LogoListTemporal>(listaLogosExample);
        string asdasd = "";
    }
    <main>

        <!-- <div>
            <NavMenu ItemMenuList=JsonViewPageObject.ItemMenuList />
        </div>
         -->
        

        <div>
            <Carousel />
        </div>
        <div>
            <Articles />
        </div>
        <div>
            <EndPage listaDeLogos=JsonlistaLogosExampleObject />
        </div>
     
        <!--
            <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
        
       
        
        -->
        
    </main>
</div>


